#{extends 'main.html' /}
#{set title:'Currency Convertor' /}

#{script 'jquery-1.6.4.min.js' /}
#{script 'ccy.js' /}

<script src="http://d3js.org/d3.v3.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>


<div id="currencyApp">
    
    <h1>Welcome to a very ugly Currency Convertor App</h1>
    <div id="main">
        <p><b>Number of Currencies Available ${currencies?.size()}</b></p>
        
        <p>
            Exchange rates are taken from the European Central Bank's (ECB) foreign
            exchange rates.
        </p>
        <p>
            The published ECB rates contain exchange rates
            for approx. 35 of the world's major currencies. They are updated daily at
            15:00 CET. These rates use EUR as reference currency and are specified with a
            precision of 1/10000 of the currency unit (one hundredth cent). <br/><br/>
            See 
            <a href="http://www.ecb.int/stats/exchange/eurofxref/html/index.en.html">ECB</a>
        </p>
        
        <div id="convertor">
            <!-- used regular form instead of plays as i couldn't see how to do
                 in place update without page navigation .
            
                 This does mean that plays validation isn't used though..
            -->
            <form id="convertorForm" name="convertorForm">
                <p>
                    <label for="sourceCurrencySelect">Source Currency: </label>
                    <select name="sourceCurrencySelect" id="sourceCurrencySelect">
                        #{list items:currencies, as:'currency' }
                        <option>${currency}</option>
                        #{/list}
                    </select>
                    <label for="targetCurrencySelect">Target Currency: </label>
                    <select name="targetCurrencySelect" id="targetCurrencySelect">
                        #{list items:currencies, as:'currency' }
                        <option>${currency}</option>
                        #{/list}
                    </select>
                </p>
                <p>
                    <input type="text" name="sourceAmount" id="sourceAmount" />
                    <!-- target is disabled as user can only enter it in one -->
                    <input type="text" name="targetAmount" id="targetAmount" disabled="disabled"/>
                    
                    <input type="text" name="datepicker" id="datepicker" />
       
                    <input name="convertButton" id="convertButton" type="button" value="Convert" align="right"/>
                </p>
            </form>
            
            <p>
                <button type="button" name="refreshButton" id="refreshButton">Refresh</button>
            </p>
        </div>
        
        <div id="historic" >
            <p>
                The chart shows the exchange rate for the selected currency against the Euro over the 
                past 90 days.
            </p>
            <label>Select currency: <label>
            <select  id="currencySelect">
                #{list items:currencies, as:'currency' }
                <option>${currency}</option>
                #{/list}
            </select>

            <div id="charts"/>
        </div>
    </div>
</div>


<script type="text/javascript">
   
   
   //lets do a few bits when we start
   $(document).ready(function() {
       
       //create ref for actions here using play jsAction tag       
        var historicAction = #{jsAction @fetchHistoric(':ccy') /}

        var convertAction = #{jsAction @convert(':source', ':target', ':amt', ':date' ) /}
        
        var datesAction = #{jsAction @availableDates() /}
        
        var refreshAction = #{jsAction @refreshRates() /}

    
       //set selection box defaults
       $("select[id='currencySelect']").val("USD");
       
       $("select[id='sourceCurrencySelect']").val("EUR");
       $("select[id='targetCurrencySelect']").val("USD");


       //now lets draw the chart for it
       drawHistoricData(historicAction, "USD");
       
       
       //attach a listener and redraw chart on selection change
       $("select[id='currencySelect']").change(function(){ 
           drawHistoricData(historicAction, $("select[id='currencySelect']").val());
       });
        
        //attach click handler to form input so we can do ajax call instead of
        //page refresh
        $("#convertorForm input[name=convertButton]").click( function() {  
            handleConvert(convertAction);
        });  
        
        //attach handler to the refresh button
        $("button[id='refreshButton']").click(function() {
            refreshRates(refreshAction);
        });
        
        
        //this sets the available dates to choose from based on the the dates 
        //available on the server side
        $.get(
            datesAction(),
            function(dates) {              
                
                $("#convertorForm input[name=datepicker]").datepicker({
                    dateFormat: 'yy-mm-dd',
                    
                    beforeShowDay: function(date) { 
                        var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                        return [ dates.indexOf(string) != -1 ];
                    }
                });
            }
        )
        
   });
   
</script>

